name: Verify

on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v3
      - name: Setup JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: "11"
          distribution: "temurin"
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run unit tests
        run: ./gradlew check -x koverVerify
      - name: Generate coverage report
        run: ./gradlew koverXmlReport
      - name: Report unit test code coverage
        id: kover
        uses: mi-kas/kover-report@v1
        with:
          path: ${{ github.workspace }}/FlagsmithClient/build/reports/kover/xml/report.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          title: Code Coverage
          update-comment: true
          min-coverage-overall: 60
          min-coverage-changed-files: 80
      - name: Verify code coverage level
        run: ./gradlew koverVerify
